.feedback-row{
    display: inline-flex;
    float: right;
}
.feedback-row .feedback_button{
    margin-left: 15px;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #d1a858;
    color: #fff !important;
    background-color: #d1a858;
    cursor: pointer;
    transition: all .5s ease;
}
.feedback-row .feedback_button:hover{
    background-color: transparent !important;
    border: 1px solid #333;
    color: #333 !important;
}
.feedback-row .feedback_cancel{
    background-color: transparent !important;
    border: 1px solid #333;
    color: #333 !important;
}
.feedback-row .feedback_cancel:hover{
    background-color: #d1a858 !important;
    border: 1px solid #d1a858;
    color: #fff !important;
}

.feedback_captcha_input{
    width: 69%;
    height: 30px;
    padding: 10px !important;
    border: 1px solid #999;
}
.feedback-code-refresh{
    padding: 4px;    
    cursor: pointer;
}
.feedback_captcha{
    width: 19%;
    height: 30px;
    border: 1px solid #999;
}
.feedback_input{
    width: 100%;
    height: 30px;
    padding: 10px !important;
    border: 1px solid #999;
}
.feedback_select{
    width: 100%;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #999;
}
.feedback_textarea{
    width: 100%;        
    padding: 10px !important;
    border: 1px solid #999;
}
.feedback_rContainer *{
    font-size: 14px;
    color: #777; 
}
.feedback_rContainer {
    position: fixed;
    top: 70px;    
    width: 100%;        
    display: flex;
    transition: all 1s ease;
    z-index: 9 !important;
}
.feedback_rContainer .feedback_left {
    width: 40px;
    height: 160px;
    margin-top: 0 !important;
    background-color: #d1a858;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.feedback_rContainer .feedback_left .feedback_title {
    display: inline-block;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: #fff;
    padding: 10px;
    padding-bottom: 18px;
}
.feedback_rContainer div.feedback_right {    
    background-color: #fff !important;
    padding: 20px;        
    overflow-x: hidden;
    overflow: auto;
    max-height: 500px;    
    border: 1px solid #d1a858;
}
.feedback_rContainer h6 {
    font-size: 20px;
}
.form-row{
    margin-bottom: 10px;
}

.feedback-hide-place.hide{
    display: none;
}
.feedback-hide-place{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #000;
    opacity: 0.3;
    transition: all 2s ease;
}
.feedback_rContainer{
    z-index: 9;
}
.feedback-expanded{
    left: calc(60% - 40px);
}
.feedback-collapsed{
    left: calc(100% - 40px);
}
@media only screen and (min-width: 100px) {
    .feedback_right{
        display: none; 
    }
    .feedback_left{
        display: none; 
    }
}
@media only screen and (min-width: 250px) {
    .feedback_right{
        display: block; 
        width: 90%;
    }
    .feedback_left{
        display: block; 
    }
    .feedback-expanded{
        left: calc(5% - 25px);
    }
}
@media only screen and (min-width: 320px) {
    .feedback_right{
        display: block; 
        width: 60%;
    }
    .feedback_left{
        display: block; 
    }
    .feedback-expanded{
        left: calc(35% - 60px);
    }
}

@media only screen and (min-width: 768px) {    
    /*    .feedback_right{
            display: block; 
            width: 35%;
        }
        .feedback_left{
            display: block; 
        }
        .feedback-expanded{
            left: calc(61% - 40px);
        }*/
    .feedback_right{
        display: block; 
        width: 430px;
    }
    .feedback_left{
        display: block; 
    }
    .feedback-expanded{
        left: calc(100% - 510px);
    }
}

@media only screen and (min-width: 1200px) {
    .feedback_right{
        display: block; 
        width: 430px;
    }
    .feedback_left{
        display: block; 
    }
    .feedback-expanded{
        left: calc(100% - 510px);
    }
}

.tw-fixed-container button.fix-content-b {
    background: none; border: none; 
}

.law_sugg_rContainer {
    top: 33%;
}

.law_sugg_rContainer .today_fixed_law {
    height: 255px;
}

.law_sugg_rContainer .feedback_title {
    height: 220px;
}

.law_sugg_rContainer .feedback_formTitle {
    font-size: 14px;
}

.law_sugg_rContainer .tw-fixed-body {
    padding-left: 0;
    padding-right: 0;
}