@font-face {
    font-family: 'Roboto Condensed';
    src: url('subset-RobotoCondensed-Bold.eot');
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
        url('subset-RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-RobotoCondensed-Bold.woff2') format('woff2'),
        url('subset-RobotoCondensed-Bold.woff') format('woff'),
        url('subset-RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('subset-RobotoCondensed-Regular.eot');
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
        url('subset-RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-RobotoCondensed-Regular.woff2') format('woff2'),
        url('subset-RobotoCondensed-Regular.woff') format('woff'),
        url('subset-RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('subset-RobotoCondensed-Light.eot');
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
        url('subset-RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('subset-RobotoCondensed-Light.woff2') format('woff2'),
        url('subset-RobotoCondensed-Light.woff') format('woff'),
        url('subset-RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}