/* footer-middle */

.footer-middle {
    /* background: #2D374B; */
    /* background: #2b3754; */
    background-image: linear-gradient(to bottom, #2b3754, #283550);
    padding: 40px 0;
    letter-spacing: normal;
    font-size:13px;  
    font-family: "Roboto", Arial, sans-serif;
}

.footer-middle-left ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-middle-left>ul>li {
    margin-bottom: 20px;
}

.footer-middle-left ul li:last-child {
    margin-bottom: 0;
}

.footer-middle-contact {
    margin-top: 20px;
}

.footer-middle-contact ul li {
    padding-left: 60px;
    position: relative;
    margin-bottom: 13px;
}

.footer-middle-contact ul li:last-child {
    margin-bottom: 0;
}

.footer-middle-contact ul li img {
    position: absolute;
    top: 0;
    left: 10px;
}

.footer-middle-contact ul li>div {
    font-size:13px;
    line-height:16px;
    font-weight: 400;
    color: #c9c9c9;
}

.footer-middle-social {
    margin-top:16px;
}

.footer-middle-social ul {
    padding-left: 60px;

}

.footer-middle-social li {
    margin-right: 14px;
    line-height: 1;
}

.footer-middle-social li:last-child {
    margin-right: 0;
}

.footer-middle-main-title {
    font-size:120%;
    line-height: 13px;
    color: #fff;
    font-weight: 400;
    font-family: inherit;
}

.footer-middle-main-title::after {
    content: '';
    width: 44px;
    height: 2px;
    background: #D1A858;
    margin-top: 16px;
    display: block;
}

.footer-middle-center .erkh-zuin-akt {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 30px;
    height: 210px;
    overflow:auto;  
}

.footer-middle-center .erkh-zuin-akt li {
    font-size: 100%;
    line-height: 16px;
    color: #c9c9c9;
    font-weight: 400;
    margin-bottom: 15px;
    cursor: pointer;
}
.footer-middle-center .erkh-zuin-akt li a{
    color: #c9c9c9;
    transition: all 0.3s ease;
}
.footer-middle-center .erkh-zuin-akt li a:hover{
    color: #D1A858;
    padding-left: 6px;
}

.footer-middle-center .erkh-zuin-akt li span {
    color: rgba(209, 168, 88, 0.5);
}

.footer-middle-center .erkh-zuin-akt li:hover span,
.footer-middle-center .erkh-zuin-akt li:hover {
    color: #D1A858;
}

.footer-middle-center .erkh-zuin-akt li:last-child {
    margin-bottom: 0;
}

footer .font-medium:hover p,
footer .font-small:hover p, 
footer .font-large:hover p {
    color: rgba(255, 255, 255, 0.8);
}

/* footer-bottom */

.footer-bottom {
    background: #D1AC64;
    font-family: "Roboto", Arial, sans-serif;
    padding: 18px 0;
    font-size: 13px;
    color: #fff;
}

.footer-bottom .copyright {
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    padding-right: 47%;
    font-family: "Roboto", Arial, sans-serif;
}
.footer-bottom img {
    margin-left: 10px;
}