
.highlighed {
    color: #F00;
}

.highlight { 
    background-color: #4caf508a;
    color: #FFF !important;
}

.highligh-pa:hover { 
    cursor: pointer;
}

.highligh-pa:after { 
    content: "\f0c1";
    color: #F00;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.selected-pp {
    background: #03a9f421;
}

.nom-more-content {
    margin-top: 10px !important;
}    

.nom-more-content .uk-accordion-content {
    margin-top: 0px;
}

.uk-accordion-content .inner-conntent {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: justify !important;
}

.tab-btn {
    border-radius: 0 !important;
    background: none !important;
    color: #000 !important;
    text-transform: uppercase;
    border: 1px solid #fafafa !important;
    border-bottom: 3px solid #fafafa !important;
    font-size: 14px !important;
    letter-spacing: normal !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 4px 7px !important;
    margin-right: 5px;
}

.tab-btn.active {
    border: 1px solid #fafafa !important;
    border-bottom: 3px solid #D1A858 !important;
}

.tab-btn:hover {
    border: 1px solid #fafafa !important;
    border-bottom: 3px solid #D1A858 !important;
}

.tab-col {
    width: 100%;
    padding-bottom: 5px;
}

.haritsuulat-inner-container {
    padding: 10px 15px !important;
}

.huchingui-accordion {
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.huchingui-accordion .item {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 10px;
    margin-bottom: 16px;
}

.huchingui-accordion .item:last-child {
    border-bottom: none !important;
    margin-bottom: 0px !important;
}

.huchingui-accordion .item p {
    color: #D1A858 !important;
}

.nochild {
    font-weight: normal !important;
    text-transform: none !important;
}

.nochild-left {
    font-weight: normal !important;
    text-transform: none !important;
    border: none !important;
}

.nochild-left:before {
    background: none !important;
}

.w-100 {
    width: 100%;
}

.shine-huuli-body table {
    table-layout: fixed !important;
    /* display: contents; */
}


section table {
    table-layout: fixed;
}


section img,
p img {
    position: relative !important;
}

.cf-w {
    color: #FFF; 
}

div.law_highlight {
    width: 1000px;
    margin: 0 auto 10px auto;
    padding: 0;
    position: fixed;
    z-index: 300;
    bottom: 0;
    text-align: right;
    display: block;
}

div.law_highlight div.lightform {
    background: #d1a858;
    padding: 5px;
    float: right;
    border: 1px #b9b8b7 solid;
    margin-right: 15px;
    text-align: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.law_highlight input {
    border: 0;
    border: 1px #b9b8b7 solid;
    padding: 3px;
    color: #252525;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 30px;
}
.highlight2 {
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    color: #FFF!important;
    background: #20d136;
}
span.count {
    color: #FFF;
}

.shine-huuli-inner-container .tab-content,
.shine-huuli-inner-container .nav-link.active
 {
    background: #F4F6F8;
}
.shine-huuli-inner-container .nav-link.active,
.shine-huuli-inner-container .nav-link:hover, 
.shine-huuli-inner-container .nav-link:focus {
    border-color: #1B4392 #1B4392 #F4F6F8 !important;
    border-radius: 0;
    border-top: 3px solid #1B4392;
    color: #2D374B !important;
    fill: #2D374B !important;
}

.shine-huuli-inner-container .tab-content.card {
    border: 1px solid #1B4392;
    min-height: 500px;
}
.shine-huuli-inner-container .nav-tabs {
    border-bottom-color: #1B4392;
}

.shine-huuli-inner-container .nav-tabs .nav-item {
    margin-right: 5px;
}

.shine-huuli-inner-container .nav-tabs .nav-link {
    border-color: #89a5dc #89a5dc #1B4392;
    border-radius: 0;
    border-top: 3px solid #89a5dc;
    color: #2929296e;
    font-weight: 500;
}

.mr-15 {
    margin-right: 5px;
}

.shine-huuli-inner-container .nav-tabs .nav-link svg {
    position: relative;
    top: -2px;
}